<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Comcast Sucks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <h1>Comcast is the Worst</h1>
      <p>Let's check the speeds</p>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% endblock %}
  </body>
</html>
